body{
	background-color: black;
	font: bold 36px 'Happy Sans', cursive;
	text-shadow: 2px 2px white;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title{
	font: bold 50px  'Happy Sans', cursive;
	color: #0C9C46;
	margin-bottom: 60px;
}

#mainCanvas { 
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
	position: relative;
	top: calc(50% - 260px);
}
.main{
	height: 90vh;
}

.timetxt{
	margin-left: 7px;
}

.points{
}

.start{
	position: absolute;
	text-align: center;
	top: calc(50% - 87px);
	left: calc(50% - 189px);
	width: 378px;
	display: none;
}

.finish{
	position: absolute;
	display: none;
	text-align: center;
	width: 300px;
	top: calc(50% - 100px);
	left: calc(50% - 150px);
}

.finishTxt{
	font-size:50px;
	font-weight:bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
    padding-right: 0;
	margin-bottom: 10px;
}

.totalPoints{
	font-size:40px;
	font-weight:bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
    padding-right: 0;
	margin-bottom: 10px;
}

.slider[orient=vertical]{
	position: absolute;
	display: none;
	border: 1px solid green;
	background-color: white;
	cursor: pointer;
	writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}


input[type = "button"] {
	padding: 12px 12px 17px 12px;
	width: 217px;
	background-color:#33bdef;
	border-radius: 6px; 
	border:0px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
	font: bold 25px 'Happy Sans', cursive;
	text-decoration:none;
}

 input[type = "button"]:hover {
	background-color:#019ad2;
}

 input[type = "button"]:focus {
	outline:none;
}

.rulesLink{
	display: block;
	font: bold 16px 'Happy Sans', cursive;
	text-shadow: none;
	color: white;
	margin-top: 5px;
	cursor:pointer;
}

.rules{
	position: absolute;
	text-align: center;
	top: calc(30% - 87px);
	left: calc(50% - 189px);
	width: 378px;
	font: bold 16px 'Happy Sans', cursive;
	text-shadow: none;
	display: none;
	background-color: white;
	padding: 22px;
}

#closeRulesBtn{

}


